@use "sass:math";
@use "sass:map";
@use "variables" as *;

@mixin mq($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin text-outline($color, $width: 1px) {
  text-shadow: -#{$width} -#{$width} 0 $color, 0 -#{$width} 0 $color,
    #{$width} -#{$width} 0 $color, -#{$width} 0 0 $color, #{$width} 0 0 $color,
    -#{$width} #{$width} 0 $color, 0 #{$width} 0 $color,
    #{$width} #{$width} 0 $color;
}
