@use "sass:math";

// ブレイクポイントの設定
// ＊＊＊＊＊SP・PCファーストについて、この設定を変更します＊＊＊＊＊
$break-flg: 1 !default; //0:SPファースト、1：PCファースト

$breakpoints: null;
@if $break-flg == 0 {
  $breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
  );
} @else {
  // ブレイクポイントの設定
  $breakpoints: (
    "sm": "screen and (max-width: 399px)",
    "md": "screen and (max-width: 767px)",
    "lg": "screen and (max-width: 999px)",
    "xl": "screen and (max-width: 1199px)",
  );
}

// inner
$inner: 1200px;

// 余白
$padding-pc: 25px;
$padding-sp: 16px;

// フォント
$font-family-base: "Noto Sans JP", sans-serif;
$font-family-en: "Inter", sans-serif;

$light: 300;
$regular: 400;
$medium: 500;

// 文字間隔
$text-space: 0.1em;

// ベースフォントサイズ
$base-font-size: 16px;

// Color
// メインカラー
$color-white: #ffffff;
$color-gray: #f5f5f5;
$color-beige: #f6efe7;
// サブカラー
$color-sub-gray: #afafaf;
$color-sub-brown: #ccb7a3;
// テキストカラー
$color-black: #000000;
$color-dark-blue: #050a30;
// アクセントカラー
$color-accent: #ffb77a;
