@use "foundation" as *;

.l-inner {
  max-width: calc($inner + $padding-pc * 2);
  margin-inline: auto;
  padding: 0 $padding-pc;
  width: 100%;
  @include mq("md") {
    max-width: calc(prem(600) + $padding-sp * 2);
    padding: 0 $padding-sp;
  }
}
