@use "foundation" as *;

.p-company {
  padding: prem(60) 0;
  @include mq(md) {
    padding: prem(40) 0;
  }
}

.p-company__profile {
  margin-top: prem(40);
  @include mq(md) {
    margin-top: prem(32);
  }
}
