@use "foundation" as *;

.p-company-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: prem(32);
  @include mq(md) {
    display: block;
  }
}

.p-company-profile__list-wrap {
  max-width: prem(600);
  width: 100%;
  outline: 1px solid #d9d9d9;
  outline-offset: -1px;
  @include mq(md) {
    max-width: initial;
  }
}

.p-company-profile__list {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.p-company-profile__list + .p-company-profile__list {
  border-top: 1px solid #d9d9d9;
}

.p-company-profile__term {
  max-width: prem(120);
  width: 100%;
  font-weight: $medium;
  text-align: center;
}

.p-company-profile__description {
  padding: prem(10) prem(20);
  flex: 1;
  font-size: prem(15);
  background-color: #ffffff;
  border-left: 1px solid #d9d9d9;
}

.p-company-profile__map-wrap {
  flex: 1;
  max-width: prem(400);
  @include mq(md) {
    margin-top: prem(40);
    max-width: initial;
  }
}

.p-company-profile__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 60%;
}

.p-company-profile__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
