@use "foundation" as *;

.p-company {
  padding: prem(60) 0;
  @include mq(md) {
    padding: prem(40) 0;
  }
}

.p-company__inner {
  max-width: calc($inner + $padding-pc * 2);
  margin-inline: auto;
  padding: 0 $padding-pc;
  width: 100%;
  @include mq("md") {
    padding: 0 $padding-sp;
  }
}

.p-company__profile {
  margin-top: prem(40);
  @include mq(md) {
    margin-top: prem(32);
  }
}
