@use "foundation" as *;

.p-flow {
  padding: prem(60) 0;
  background-color: #fff4ee;
  @include mq(md) {
    padding: prem(40) 0;
  }
}

.p-flow__steps {
  margin-top: prem(40);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: prem(60);
  position: relative;
  @include mq(md) {
    grid-template-columns: repeat(1, 1fr);
    gap: prem(40);
  }
}

.p-flow__step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0;
}

.p-flow__step.is-active {
  animation: fadeIn 0.3s ease-out forwards;
}

.p-flow__step-title {
  font-size: prem(18);
  font-weight: $medium;
  color: $color-dark-blue;
  @include mq(md) {
    font-size: prem(16);
  }
}

.p-flow__step-img {
  margin-top: prem(20);
  width: 100%;
  max-width: prem(200);
  @include mq(md) {
    max-width: prem(150);
    margin-top: prem(16);
  }
}

.p-flow__step-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.p-flow__step-text {
  margin-top: prem(20);
  color: $color-dark-blue;
  font-feature-settings: "palt";
  @include mq(md) {
    margin-top: prem(16);
    font-size: prem(14);
  }
}

.p-flow__arrow {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: prem(-50);
  transform: translateY(-50%);
  width: prem(40);
  height: prem(2);
  background-color: $color-dark-blue;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: prem(5) solid transparent;
    border-bottom: prem(5) solid transparent;
    border-left: prem(10) solid $color-dark-blue;
  }
  @include mq(md) {
    display: none;
  }
}
