@use "foundation" as *;

.p-footer {
  padding: prem(40) 0;
  background-color: #f5f4f6;
}

.p-footer__inner {
  max-width: calc($inner + $padding-pc * 2);
  margin-inline: auto;
  padding: 0 $padding-pc;
  text-align: center;
  @include mq("md") {
    padding: 0 $padding-sp;
  }
}

.p-footer__logo {
  font-family: $font-family-en;
  font-size: prem(22);
  font-weight: $medium;
  color: #333;
}

.p-footer__logo a {
  padding: prem(10);
}

.p-footer__nav {
  margin-top: prem(32);
  @include mq("md") {
    margin-top: prem(24);
  }
}

.p-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  @include mq("md") {
    flex-direction: column;
  }
}

.p-footer__nav-item + .p-footer__nav-item {
  border-left: 1px solid #333;
  @include mq(md) {
    border-left: none;
  }
}

.p-footer__nav-item a {
  padding: 0 prem(16);
  font-size: prem(17);
  color: #333;
  text-decoration: none;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @include mq("md") {
    display: block;
    font-size: prem(16);
    padding: prem(8) 0;
  }
}

.p-footer__sns {
  margin-top: prem(32);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: prem(20);
}

.p-footer__sns-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
}

.p-footer__sns-icon {
  width: prem(30);
  height: prem(30);
  @include mq("md") {
    width: prem(25);
    height: prem(25);
  }
}

.p-footer__sns-icon--x {
  color: $color-black;
}
