@use "foundation" as *;

.p-header {
  height: prem(80);
  background-color: transparent;
  @include mq("md") {
    height: prem(60);
  }
}

.p-header__inner {
  padding: 0 prem(40);
  height: inherit;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    padding: 0 prem(15);
    align-items: center;
  }
}

.p-header__logo {
  max-width: fit-content;
  width: 100%;
  height: inherit;
  @include mq("md") {
    max-width: prem(100);
  }
}

.p-header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: $font-family-en;
  font-weight: $medium;
  font-size: prem(40);
  @include mq(md) {
    font-size: prem(32);
  }
  &:hover {
    opacity: 1;
  }
}

.p-header__nav {
  height: inherit;
  @include mq("md") {
    display: none;
  }
}

.p-header__nav-list {
  display: flex;
  height: inherit;
}

.p-header__nav-item {
  height: inherit;
}

.p-header__nav-item a {
  padding: 0 prem(15);
  height: inherit;
  display: flex;
  align-items: center;
  font-size: prem(18);
}

.p-header__hamburger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: prem(45);
  height: prem(45);
  background-color: $color-beige;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-header__hamburger.is-open {
  background-color: transparent;
}

.p-header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: prem(15);
  height: 1px;
  background-color: $color-sub-brown;
  transition: 0.5s;
}

.p-header__hamburger span:nth-of-type(1) {
  top: prem(-4);
}

.p-header__hamburger span:nth-of-type(2) {
  top: 0;
}

.p-header__hamburger span:nth-of-type(3) {
  top: prem(4);
}

.p-header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
  top: prem(-2);
  transform: translateX(-50%) rotate(-45deg);
}

.p-header__drawer {
  padding: prem(120) 0;
  position: absolute;
  z-index: 900;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100svh;
  background-color: rgba($color: $color-gray, $alpha: 0.95);
  overflow-y: scroll;
  scrollbar-width: none;
  transition: 0.6s;
}

.p-header__drawer.is-open {
  right: 0;
}

.p-header__drawer::-webkit-scrollbar {
  display: none;
}

.p-header__drawer-item a {
  padding: prem(20) 0;
  display: block;
  font-size: prem(28);
  font-weight: $medium;
  color: $color-sub-brown;
  text-align: center;
}
