@use "foundation" as *;

.p-hero {
  padding: prem(100) 0 prem(80);
  height: 100%;
  @include mq("md") {
    padding: initial;
    height: auto;
  }
}

.p-hero__inner {
  display: flex;
  align-items: center;
  @include mq("md") {
    max-width: calc($inner + $padding-pc * 2);
    flex-direction: column;
    min-height: 100svh;
    height: auto;
    position: relative;
  }
}

.p-hero__img {
  flex: 1;
  width: 100%;
  max-width: prem(450);
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInFromLeft 0.8s ease-out forwards;
  @include mq("md") {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.p-hero__img img {
  width: 100%;
  aspect-ratio: 305 / 450;
  object-fit: cover;
  @include mq("md") {
    height: 100%;
  }
}

.p-hero__content {
  flex: 1;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInFromBottom 0.8s ease-out 0.8s forwards;
  @include mq("md") {
    padding: prem(80) 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
  }
}

.p-hero__text-wrap {
  @include mq(md) {
    padding: prem(10) prem(12);
    border-radius: prem(16);
    background-color: rgba($color: $color-white, $alpha: 0.4);
  }
}

.p-hero__title {
  font-size: prem(37);
  font-weight: $medium;
  color: $color-dark-blue;
  @include mq("md") {
    font-size: prem(28);
  }
}

.p-hero__text {
  margin-top: prem(24);
  font-size: prem(18);
  font-weight: $regular;
  color: $color-black;
  @include mq("md") {
    font-size: prem(16);
  }
}

.p-hero__button-wrap {
  margin-top: prem(60);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: prem(40);
  @include mq("md") {
    margin-top: prem(32);
    gap: prem(16);
  }
}
