@use "foundation" as *;

.p-hero {
  padding: prem(100) 0 prem(80);
  height: 100%;
  @include mq("md") {
    padding: initial;
    height: 100svh;
  }
}

.p-hero__inner {
  max-width: calc($inner + $padding-pc * 2);
  margin-inline: auto;
  padding: 0 $padding-pc;
  width: 100%;
  display: flex;
  align-items: center;
  @include mq("md") {
    padding: initial;
    flex-direction: column;
    position: relative;
  }
}

.p-hero__img {
  flex: 1;
  width: 100%;
  max-width: prem(450);
  opacity: 0;
  transform: translateX(-30px);
  animation: fadeInFromLeft 0.8s ease-out forwards;
  @include mq("md") {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: prem(400);
  }
}

.p-hero__img img {
  width: 100%;
  aspect-ratio: 305 / 450;
  object-fit: cover;
  @include mq("md") {
    border-radius: 0;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.p-hero__content {
  flex: 1;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInFromBottom 0.8s ease-out 0.3s forwards;
  @include mq("md") {
    max-width: 100%;
    padding: prem(32) prem(24);
    position: absolute;
    background-color: transparent;
  }
}

.p-hero__title {
  font-size: prem(37);
  font-weight: $medium;
  color: $color-dark-blue;
  @include mq("md") {
    font-size: prem(28);
  }
}

.p-hero__text {
  margin-top: prem(24);
  font-size: prem(18);
  font-weight: $regular;
  color: $color-black;
  @include mq("md") {
    font-size: prem(16);
  }
}

.p-hero__button-wrap {
  margin-top: prem(60);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: prem(40);
  @include mq("md") {
    margin-top: prem(32);
    gap: prem(16);
  }
}
