@use "foundation" as *;

.p-law {
  padding: prem(120) 0 prem(60);
  @include mq(md) {
    padding: prem(100) 0 prem(40);
  }
}

.p-law__heading {
  font-weight: $medium;
  font-size: prem(32);
  @include mq(md) {
    font-size: prem(24);
  }
}

.p-law__profile {
  margin-top: prem(40);
  @include mq(md) {
    margin-top: prem(32);
  }
}

.p-law__profile .p-company-profile__list-wrap {
  max-width: initial;
}

.p-law__profile .p-company-profile__term {
  max-width: prem(250);
  @include mq(md) {
    max-width: prem(140);
  }
}

.p-law__content {
  margin-top: prem(40);
  @include mq(md) {
    margin-top: prem(32);
  }
}

.p-law__introduction {
  font-size: prem(18);
  @include mq(md) {
    font-size: prem(16);
  }
}

.p-law__description-text {
  margin-top: prem(8);
  font-size: prem(18);
  line-height: 1.8;
  padding-bottom: prem(40);
  border-bottom: 1px solid $color-sub-gray;
  @include mq(md) {
    font-size: prem(16);
    padding-bottom: prem(20);
  }
}

.p-law .wp-block-paragraph {
  @extend .p-law__description-text;
}

.p-law .wp-block-heading {
  font-weight: $medium;
  margin-top: prem(40);
  font-size: prem(20);
  @include mq(md) {
    margin-top: prem(32);
    font-size: prem(18);
  }
}

.p-law .wp-block-list {
  margin-top: prem(16);
  font-size: prem(18);
  line-height: 1.8;
  padding-left: 1.2em;
  @include mq(md) {
    font-size: prem(16);
  }
}
