@use "foundation" as *;

.p-voice {
  padding: prem(60) 0;
  @include mq(md) {
    padding: prem(40) 0;
  }
}

.p-voice__list {
  margin-top: prem(40);
  display: flex;
  flex-direction: column;
  @include mq(md) {
    margin-top: prem(32);
    gap: prem(32);
  }
}

.p-voice__item {
  display: flex;
  align-items: center;
  gap: prem(20);
  @include mq(md) {
    gap: prem(16);
  }
}

.p-voice__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.p-voice__item-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.p-voice__item-header {
  text-align: center;
}

.p-voice__item-rating {
  font-size: prem(18);
  font-weight: $medium;
  color: $color-accent;
  @include mq(md) {
    font-size: prem(16);
  }
}

.p-voice__item-user {
  margin-top: prem(8);
  font-size: prem(14);
  color: $color-dark-blue;
  @include mq(md) {
    font-size: prem(12);
  }
}

.p-voice__item-img {
  margin-top: prem(8);
  width: 100%;
  max-width: prem(120);
  @include mq(md) {
    max-width: prem(60);
  }
}

.p-voice__item-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.p-voice__item-bubble {
  margin-top: prem(48);
  width: 100%;
  max-width: prem(600);
  position: relative;
  padding: prem(20) prem(24);
  border-radius: prem(32);
  border: 1px solid $color-black;
  @include mq(md) {
    margin-top: initial;
    padding: prem(10) prem(16);
    border-radius: prem(24);
    width: 100%;
  }

  .p-voice__item:not(:nth-child(2n)) &::before {
    content: "";
    position: absolute;
    left: prem(-11);
    top: prem(30);
    transform: rotate(45deg);
    width: prem(20);
    height: prem(20);
    background-color: $color-white;
    border-left: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    @include mq(md) {
      left: prem(-9);
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: prem(16);
      height: prem(16);
    }
  }

  .p-voice__item:nth-child(2n) &::before {
    content: "";
    position: absolute;
    right: prem(-11);
    top: prem(30);
    width: prem(20);
    height: prem(20);
    background-color: $color-white;
    border-right: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    transform: rotate(-45deg);
    @include mq(md) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      right: prem(-9);
      width: prem(16);
      height: prem(16);
    }
  }
}

.p-voice__item-text {
  line-height: 1.8;
  color: $color-dark-blue;
  @include mq(md) {
    font-size: prem(14);
    line-height: 1.7;
  }
}
